@import "./variables.scss";
body {
    margin: 0 auto;
    min-width: $index-min-page-width;
    min-height: 100vh;
}

html {
    background-color: #f6f6f6;
    font-size: 14px;
    font-family: "Microsoft YaHei UI","微软雅黑";
}


a{
    text-decoration: none;
}